@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atSmallMedium {
	@media (min-width: 767px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 960px) {
		@mixin-content;
	}
}

body {
	overflow-x: hidden;
	position: relative;
}

#main {
	padding-top: 0;
}

.inner-wrap-restore {
	margin: 0 auto;
	max-width: 1100px;
}

#header-text-nav-container {
	max-width: 1100px;
	margin: 0 auto !important;
}

* {
	box-sizing: border-box;
}

.entry-title {
	display: none;
}

a {
  color: $mainBlue;
}

li.current-menu-item a {
	background: #FFF !important;
	color: $mainBlue !important;
	font-weight: 700;
}

.link-inverted {
	text-decoration: underscore;
	color: $subMaroon;
}

.cos-content {
	margin-bottom: 35px;
}

aside#meta {
	display: none;
}
