$mainBlue:#15a8d2;
$subBlue: #19505e;
$footerBlue:#0364809e;
$subMaroon: #440c0e;
$lightGrey: #cccccb;
$darkGrey: #474747;


/*footerBlue #036480; */
/*$darkGrey: #5d5d5d; */
/*$lightGrey: #a3a3a3;*/
