/*Wonder Slider*****/
.wonderpluginslider {
	margin-bottom: 80px;
}

.amazingslider {

	&-text-bg-1,
	&-text-bg-7,
	&-text-bg-8,
	&-text-bg-9,
	&-text-bg-11,
	&-text-bg-12
		{
		opacity: 0.7 !important;
	}

	&-text-1,
	&-text-7,
	&-text-8,
	&-text-9,
	&-text-11,
	&-text-12 {
		padding: 10px 45px !important;
		color: #474747 !important;
	}

	&-title-1,
	&-title-7,
	&-title-8,
	&-title-9,
	&-title-11,
	&-title-12 {
		color: #474747 !important;
	}

	&-text-wrapper-1,
	&-text-wrapper-7,
	&-text-wrapper-8,
	&-text-wrapper-9,
	&-text-wrapper-11,
	&-text-wrapper-12 {
		width: 100% !important;
	}

	@media (max-width: 640px) {

		&-text-wrapper-1,
		&-text-wrapper-7,
		&-text-wrapper-8,
		&-text-wrapper-9,
		&-text-wrapper-11,
		&-text-wrapper-12 {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-text-1,
		&-text-7,
		&-text-8,
		&-text-9,
		&-text-11,
		&-text-12 {
			padding: 35px !important;
		}
	}

	@mixin atMedium {

		&-text-wrapper-1,
		&-text-wrapper-7,
		&-text-wrapper-8,
		&-text-wrapper-9,
		&-text-wrapper-11,
		&-text-wrapper-12 {
			display: block !important;
			width: 45% !important;
			min-height: 300px !important;
			/*transform: translateY(0%) !important;*/
			/*top: 135px !important;*/
		}
	}


}

.amazingcarousel-readmore,
.amazingcarousel-description {
	display: none !important;
}

.amazingcarousel-title {
	color: $mainBlue !important;
	font-size: 1.1rem !important;
	font-weight: 700;
	padding: 10px;
}
