.blog-cos {
	position: relative;
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	margin-bottom: 20px;
	border: 2px solid grey;
	text-align: center;
	color: $darkGrey;

	@mixin atMedium {
		margin-bottom: 50px;
	}


	&__main {
		margin-top: 45px;
	}

	&__featured-product-header {
		background-color: $mainBlue;
		color: white;
		font-weight: 500;
		padding: 2.5px;
	}

	&> figure> a> img {
			width: 100% !important;
		}

	&__image {
		min-height: 187px;
		width: 100%;


	}


	&__title {
		color: $darkGrey;
		line-height: 1.2;
		padding: 1rem;

		&--single {
			text-align: center;
			margin-top: 20px;
		}

		&>hr {
			margin: 10px auto;
		}
	}

	&__excerpt {
		text-align: left;
		padding: 15px;
		padding-bottom: 2.5em;

		@mixin atSmall {
			padding-bottom: 3.3em;
		}

		&--project {
			padding-bottom: 0;
		}

	}

	&__wrapper-lower {
		padding: 15px;
		position: absolute;
		bottom: 0px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%) scale(1.02);
	}

	&__meta {
		margin: 10px;
		padding: 10px;
	}

	@mixin atLarge {
		padding: 0;
	}

	&--last {
		margin-bottom: 0;
	}

}

.post-format,
.byline,
.cat-links {
	display: none;
}
