.btn {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: $mainBlue;
	border: 0px;
	transition: background-color 0.3s linear 0s;
	border-radius: 4px;
	font-size: 14px;
	appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #FFFFFF;

	&--cta-git {
		margin-top: 25px;
		color: #FFF !important;
		border-style: solid;
		boder-color: #FFF;
		border-width: 2px;
		padding: 10px 20px;
		cursor: pointer;
	}
}

.btn span.icon {
	background: url(imgs/icon.png) no-repeat;
	float: left;
	width: 10px;
	height: 40px;
}
