.content {
	&__w-bulleted-list {
		& ul {
			list-style: disc;
		}

		& ul ul {
			margin-left: 45px;
			list-style: circle;
		}

		& ul ul ul {
			margin-left: 45px;
			list-style: disc;
		}

		& ul ul ul ul {
			margin-left: 45px;
			list-style: circle;
		}
	}
}
