.cta {
	&__git {
		color: #FFF !important;
		background-color: $darkGrey;
		width: 100%;
		padding: 25px;
		font-size: 1.5rem;
		text-align: center;
		margin-top: -35px;
		margin: -20px auto;
	}

	&__git-header {
		padding: 15px;
	}

	&__git-text {
		font-size: 1.5rem;
		font-size: 5vw;
		padding: 15px;

		@mixin atLarge {
			font-size: 2rem;
		}
	}

	&__btn-wrapper {
		padding: 35px;
	}

}
