.headline {
	font-family: Arial, "Helvetica Neue";
	font-size: 2.3rem;
	font-weight: 100;
	margin: 0 0 1rem 0;


	@mixin atSmall {
		font-size: 2rem;
	}

	&--main-blue {
		color: $mainBlue;
	}

	&--slider {
		color: $mainBlue !important;
		font-size: 1.5rem !important;
		text-shadow: 1px 2px 0px $subMaroon;
		background-color: white;
	}

	&--footer {
		color: $darkGrey !important;
		font-size: 1.6rem !important;

	}

	&--padding-t {
		padding-top: 25px;
	}

	&--padding {
		padding-top: 25px;
		padding-bottom: 15px;
	}

	&--centered {
		text-align: center;
	}

	&--small {
		font-size: 1.2rem;

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}

	&--small-general-content {
		font-size: 1.2rem;

		@mixin atSmall {
			font-size: 1.575rem;
		}
	}

	&--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	&--light {
		font-weight: 100;
	}

	strong {
		font-weight: 400;
	}

	&--b-margin-small {
		margin-bottom: .5em;
	}

	&--b-margin-large {
		margin-bottom: 1.6em;
	}

	&--no-t-margin {
		margin-top: 0;
	}

	&--margin-t {
		margin-top: 35px;

		@mixin atSmall {
			margin-top: 0;
		}
	}

	&--post-header {
		width: 100%;
		border-bottom: 1px solid #F8F8F8;
		margin-top: -30px;
		margin-bottom: 20px;
		font-size: 2em;
		& >h2 {
			margin: 0 auto
		}
	}
}
