.page-banner {
	position: relative;
	background-color: #000;
	padding: 80px 0 40px 0;
	position: relative;
	margin-bottom: 35px;

	@mixin atSmall {
		padding: 120px 0 130px 0;
	}

	@mixin atLarge {
		min-height: 576px;
	}

	&__text__container {
		background-color: rgba(#FFF, .9);
		color: grey;
		max-width: 800px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		display: none;

		@mixin atSmall {
			display: block;
		}

	}


	&__sub-title {
		margin: 0 auto;
		margin-bottom: 25px;
		text-align: center;
		padding-left: 45px;
		padding-right: 45px;
	}

	&__title {
		/*font-family: 'Georgia', serif;*/
		font-size: 1.1rem;
		font-weight: 100;
		line-height: 1.3;
		margin: 0 0 1rem 0;


		@mixin atSmall {
			font-size: 2.5rem;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
	}


	&__bg-image {
		opacity: .65;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__intro {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.3;
		color: grey;

		@mixin atSmall {
			font-size: 1.65rem;
		}
	}

	&__intro p {
		margin: 0;
	}
}
