.page-section {
	padding: 1.2rem 0;
	padding: 0;

	&--padding-t {
		padding-top: 70px;
	}

	&--no-b-padding-until-medium {
		padding-bottom: 0;

		@mixin atMedium {
			padding-bottom: 4.5rem;
		}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding: 25px;
			padding-bottom: 4.5rem;
		}
	}


	&--blue {
		@mixin atMedium {
			background-color: $mainBlue;
			color: #FFF;
		}
	}

	&--grey {
		@mixin atMedium {
			background-color: $darkGrey;
		}
	}

	&--lightgrey {
		background-color: $lightGrey;
		color: #FFF;
	}


	&--white {
		background-color: #FFF;
	}

	&--services {
		@mixin atLarge {
			/* &.lazyloaded{
        background: url('../../assets/images/services-bg.jpg') top center no-repeat;
        background-size: cover;
      }*/
		}
	}

	&--speakers-remove-b-margin {
		margin-bottom: -98px;
	}

	&--about-us {
		background-color: $lightGrey;
		color: $mainBlue;
		font-weight: 700;
		font-size: 1.2rem;

		@mixin atLarge {
			font-size: 1.8rem;
		}
	}

	&__no-post {
		margin: 0 auto;
		margin-top: -60px;
		padding-bottom: 82px;
	}

}
