.project {
	&__header-slider {
		margin: 30px;
	}

	&__table {
		width: 100%;
		margin-top: 90px;

		&__title {
			font-size: 1.5rem;
			line-height: 1.5
		}

		&__header {
			font-weight: 700;
			padding-bottom: .5rem;

			@mixin atLarge {
				width: 40%;
			}
		}

	}

	&__gallery {
		margin: 30px;
	}

	&__posts__image {
		width: 100%;
	}

	&__posts__title {
		color: $darkGrey;
		line-height: 1.2;
		padding: 1rem;
	}

	&__posts__excerpt {
		text-align: left;
		padding: 15px;


		@mixin atSmall {
			padding-bottom: 1rem;
		}
	}

	&__posts__header-link-featured {
		color: $lightGrey;
	}

	&__read-more {}

	&__anchor {
		position: relative;
		top: -15px;
		visibility: hidden;
	}

}

#feature-link {
	color: $lightGrey;
	pointer-events: none;
}
