.section-title {
  width: 100%;
  padding: 25px;
  font-size: 2.5rem;
  line-height: 1;
  text-align: center;

  @mixin atSmall {
     text-align: left;
  }

  strong {
    font-weight: 700
  }

  &--blue {
    color: $mainBlue;
  }

    &--white {
      color: $mainBlue;
      @mixin atLarge{
        color: #fff;
      }
  }

  &--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall {
      position: relative;
      top: 8px;
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }

}
