.site-header {
	/*Place holder for COS styles*/
}


/* Custom modifacations to the parent theme *****************************************************/
.main-navigation ul a {
	font-weight: 500;
}

.main-navigation ul a,
#site-title a {
	color: $darkGrey;
}

.main-navigation ul li.current_page_item a {
	background-color: white !important;
	color: $mainBlue;
	font-weight: 700;
}

.main-navigation ul li:hover>a {
	background-color: white !important;
	color: $mainBlue;
	font-weight: 700;
}

#site-title:hover>a {
	color: $mainBlue !important;
}

.main-navigation a {
	@mixin atLarge {
		font-size: 1.2rem;
	}

}

.main-navigation ul a {
	color: $darkGrey;
}

#header-text-nav-container {
	background-color: #FFF;
}

#header-text-nav-wrap {
	padding-top: 15px;
	padding-bottom: 20px;

	@mixin atLarge {
		position: relative;
	}
}

#header-text {
	font-family: Arial, "Helvetica Neue";

	@mixin atLarge {
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 340px;
	}
}



#header-right-sidebar {
	display: none;
}

/* Concept *****************************************************

.site-header {
	&__logo {
		margin: 30px 10px;

		@mixin atSmall {}

		@mixin atMedium {

		}
	}

	&__logo__graphic {
		text-indent: -9999px !important;

	}

}

#header-text-nav-container {
	background-color: #FFF;
}

.main-navigation ul li.current_page_item a {
	background-color: white !important;
	color: $mainBlue;
	font-weight: 700;
}

.main-navigation ul li:hover>a {
	background-color: white !important;
	color: $mainBlue;
	font-weight: 500;
}

.main-navigation a {

	@mixin atLarge{
 font-size: 1.2rem;
	}

}

#header-text-nav-wrap {
	display: none;
}
*/
