.site-footer {
	padding: 2rem 0 3.5rem 0;
	background-image: linear-gradient(#FFF, $footerBlue);
	color: $subBlue;

	p {
		font-size: .9rem;
	}

	.headline {
		font-size: 1.9rem;
		margin-bottom: 1.33rem;
		text-align: center;

		@mixin atLarge {
			text-align: left;
		}
	}

	&__link {
		color: #999;
		text-decoration: none;
	}

	&__link:hover {
		color: $mainBlue;
		text-decoration: underline;
	}

	&__inner {
		border-top: 1px dotted #DEDEDE;
		padding-top: 3.5rem;
	}

	&__content--justify {
		text-align: justify;
	}

	&__content--narrow {
		text-align: center;

		@mixin atLarge {
			padding: 15px 100px;
		}
	}

	&__col-two {
		text-align: center;
		border-top: 1px dotted #DEDEDE;
		padding-top: 3.5rem;

		@mixin atLarge {
			border-top: 0;
			padding-top: 0;
		}
	}

}
