.slider {
	position: relative;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	height: 300px;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 5px;

	@mixin atMedium {
		width: 740px;
		height: 400px;
	}

	&-wrapper {
		position: relative;
		height: 100%;
		width: 100%;
	}

	&-slide {
		display: inline-block;
		height: 100%;
		width: 100%;
	}



	&-main-heading {
		display: block;
		text-align: center;
		margin: 5px;
		margin-bottom: 25px;
		padding: 5px;
	}

	&-button {
		font-size: .95rem;
		position: absolute;
		top: 190px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
		@mixin atMedium{
			font-size: 1.05rem;
		}
	}

	&-arrow {
		height: 30px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #f9f9f9;
		border-radius: 50%;
		cursor: pointer;
		transition: transform ease-in .1s;
		opacity: .7;
	}

	&-nextArrow {
		position: absolute;
		top: 55%;
		right: 25px;
		z-index: 999;
		color: $darkGrey;
	}

	&-backArrow {
		position: absolute;
		top: 55%;
		left: 25px;
		z-index: 999;
		color: $darkGrey;
	}

	&-title {
		position: absolute;
		top: 130px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
		color: black;
		font-size: 1rem;


	}

	&-title-background {
		background-color: $darkGrey;
		padding: 5px;
	}

	&-title-text {
		padding: 5px;
		font-size: .95rem;
		color: #FFF;
		font: 'Roboto', sans-serif;
		font-style: italic;
		line-height: 20px;

		@mixin atMedium {
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 1.5rem;
		}
	}

	&-indicator {
		display: none;

		@mixin atMedium {
			font-size: 1.3rem;
			display: inline-flex;
			position: relative;
			bottom: 0px;
			left: 25px;
			z-index: 999;
			left: 50%;
			transform: translateX(-50%);

			&-item {
				cursor: pointer;
				text-align: center;
				margin: 8px;

				@mixin atMedium {
					margin: 10px;
				}

				&-current {
					color: $mainBlue;
				}
			}

			&-thumbnail {
				display: none;
				width: 100%;
			}

		}
	}

	&-thumbnail-image-show {
		min-width: 140px;
		display: block;
		opacity: 1;
	}

	&-thumbnail-image-hide {
		display: none;
		opacity: 0;
	}

	&-thumbnail-wrapper {
		display: none;

		/*position: relative;
		bottom: 100px;
		margin-bottom: -100px;*/
		display: block;
		position: absolute;
		bottom: 40px;

	}
	&-no-images-found{
		margin: 35px;
		text-align: center;
	}

}



.floatButtonUp {
	transform: translate(-50%, -100px) !important;
	transition: transform ease-out 0.5s;
	visibility: visible;
}

.floatElementUp {
	transform: translate(-50%, -100px) !important;
	transition: transform ease-out 0.4s;
	visibility: visible;
}

.fadeElementOut {
	visibility: hidden;
}

.fa-angle-right {
	margin-left: 3px;
}

.fa-angle-left {
	margin-right: 3px;
}



.fa-angle-right:before,
.fa-angle-left:before {

	color: #222
}
