.social-icons {


	&--m-b-large {
		margin-bottom: 75px;
	}

	&__icon {
		color: $darkGrey;
		display: inline-block;
		margin: 10px 10px 0 0;
		width: 40%;
		height: 65px;
		position: relative;

		@mixin atSmall {
			width: 50px;
			margin: 14px;
		}

		&--dark {
			background-color: $mainBlue;
		}


		.icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}
