.sub-navigation {
	@mixin clearfix;
	background: $lightGrey;
	float: right;
	transition: all .7s;
	width: 100%;
	right: 0;
	padding-bottom: 5px;

	@mixin atSmall {
		padding: 5px;
	}

	&__title {
		background-color: $lightGrey !important;
		color: $darkGrey !important;
		padding: 0;
		font-size: 1.5rem !important;
		font-weight: 400 !important;
		margin-bottom: 10px;
		text-align: left;

		@mixin atSmall {
			margin-bottom: 0px;
			margin-top: 6.5px;
		}

	}


	&--right {
		@mixin atMedium {
			float: right;
		}
	}

	&--left {
		display: none;
		@mixin atSmall {
			display: block;
		}
		@mixin atMedium {
			float: left;
			padding-left: 15px;
		}
	}

	&--opaque {
		opacity: .80;
		position: fixed;
		top: 0px;
		margin-top: 0;
		z-index: 2;
		transition: all .7s;
		right: 0;
		@mixin clearfix;

		@mixin atSmall {
			opacity: .85;
			width: 30%;
		}

		@mixin atMedium {
			opacity: .85;
			width: 50%;
		}

	}

	&--pull-right {
		@mixin atMedium {
			float: right;
		}

	}

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		@mixin atSmall{
			text-align: left;
		}
		@mixin clearfix;
	}

	li {
		list-style: none;
		padding-right: 7px;
		display: inline-block;
		margin-top:8px;

		@mixin atMedium {
			padding-right: 20px;
			float: left;
			display: block;
		}
	}

	li:last-child {
		padding-right: 0;

		@mixin atMedium {
			padding-right: 20px;
		}
	}

	a {
		color: $darkGrey;
		background-color: #FFF;
		font-weight: 300;
		text-decoration: none;
		display: block;
		padding: 5px 8px;
		font-size: .77rem;


		@mixin atSmall {
			color: $darkGrey;
			min-width: 125px;
		}


		@mixin atMedium {
			font-size: 1rem;
			padding: 0 0 5px 0;
			background-color: transparent;

			&.is-current-link {
				color: $mainBlue !important;
				font-weight: 700;
			}
		}

	}

	& a:hover {

		@mixin atSmall {
			color: $mainBlue !important;
			font-weight: 700;
		}

	}

}

.menu-placeholder-active {
	height: 50px;
	witdh: 100%;
}

.scroll-trigger {
	height: 10px;
	width: 10px;
	position: relative;
	top: 10px;

}
