/*
 Theme Name:   Accelerate Child
 Theme URI:    http://cosandmore.com/accelerate-child/
 Description:  Accelerate Child Theme
 Author:       Rodney Sullivan
 Author URI:   http://cosandmore.com
 Template:     accelerate
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  acceleratechild
*/
 /*@import url("https://use.typekit.net/ikj4ydj.css");*/
 /*@import "normalize.css";*/
 /*footerBlue #036480; */
 /*$darkGrey: #5d5d5d; */
 /*$lightGrey: #a3a3a3;*/
 body {
	overflow-x: hidden;
	position: relative;
}
 #main {
	padding-top: 0;
}
 .inner-wrap-restore {
	margin: 0 auto;
	max-width: 1100px;
}
 #header-text-nav-container {
	max-width: 1100px;
	margin: 0 auto !important;
}
 * {
	box-sizing: border-box;
}
 .entry-title {
	display: none;
}
 a {
  color: #15a8d2;
}
 li.current-menu-item a {
	background: #FFF !important;
	color: #15a8d2 !important;
	font-weight: 700;
}
 .link-inverted {
	-webkit-text-decoration: underscore;
	        text-decoration: underscore;
	color: #440c0e;
}
 .cos-content {
	margin-bottom: 35px;
}
 aside#meta {
	display: none;
}
 /*@import "base/_generic-content.css";*/
 /*@import "base/_utility-classes.css";*/
 /*Wonder Slider*****/
 .wonderpluginslider {
	margin-bottom: 80px;
}
 .amazingslider-text-bg-1,
	.amazingslider-text-bg-7,
	.amazingslider-text-bg-8,
	.amazingslider-text-bg-9,
	.amazingslider-text-bg-11,
	.amazingslider-text-bg-12
		{
		opacity: 0.7 !important;
	}
 .amazingslider-text-1,
	.amazingslider-text-7,
	.amazingslider-text-8,
	.amazingslider-text-9,
	.amazingslider-text-11,
	.amazingslider-text-12 {
		padding: 10px 45px !important;
		color: #474747 !important;
	}
 .amazingslider-title-1,
	.amazingslider-title-7,
	.amazingslider-title-8,
	.amazingslider-title-9,
	.amazingslider-title-11,
	.amazingslider-title-12 {
		color: #474747 !important;
	}
 .amazingslider-text-wrapper-1,
	.amazingslider-text-wrapper-7,
	.amazingslider-text-wrapper-8,
	.amazingslider-text-wrapper-9,
	.amazingslider-text-wrapper-11,
	.amazingslider-text-wrapper-12 {
		width: 100% !important;
	}
 @media (max-width: 640px) {

		.amazingslider-text-wrapper-1,
		.amazingslider-text-wrapper-7,
		.amazingslider-text-wrapper-8,
		.amazingslider-text-wrapper-9,
		.amazingslider-text-wrapper-11,
		.amazingslider-text-wrapper-12 {
			display: -webkit-box;
			display: flex;
			-webkit-box-pack: center;
			        justify-content: center;
			-webkit-box-align: center;
			        align-items: center;
		}

		.amazingslider-text-1,
		.amazingslider-text-7,
		.amazingslider-text-8,
		.amazingslider-text-9,
		.amazingslider-text-11,
		.amazingslider-text-12 {
			padding: 35px !important;
		}
	}
 @media (min-width: 960px) {

		.amazingslider-text-wrapper-1,
		.amazingslider-text-wrapper-7,
		.amazingslider-text-wrapper-8,
		.amazingslider-text-wrapper-9,
		.amazingslider-text-wrapper-11,
		.amazingslider-text-wrapper-12 {
			display: block !important;
			width: 45% !important;
			min-height: 300px !important;
			/*transform: translateY(0%) !important;*/
			/*top: 135px !important;*/
		}
	}
 .amazingcarousel-readmore,
.amazingcarousel-description {
	display: none !important;
}
 .amazingcarousel-title {
	color: #15a8d2 !important;
	font-size: 1.1rem !important;
	font-weight: 700;
	padding: 10px;
}
 .site-header {
	/*Place holder for COS styles*/
}
 /* Custom modifacations to the parent theme *****************************************************/
 .main-navigation ul a {
	font-weight: 500;
}
 .main-navigation ul a,
#site-title a {
	color: #474747;
}
 .main-navigation ul li.current_page_item a {
	background-color: white !important;
	color: #15a8d2;
	font-weight: 700;
}
 .main-navigation ul li:hover>a {
	background-color: white !important;
	color: #15a8d2;
	font-weight: 700;
}
 #site-title:hover>a {
	color: #15a8d2 !important;
}
 @media (min-width: 1010px) {
 .main-navigation a {
		font-size: 1.2rem

}
  }
 .main-navigation ul a {
	color: #474747;
}
 #header-text-nav-container {
	background-color: #FFF;
}
 #header-text-nav-wrap {
	padding-top: 15px;
	padding-bottom: 20px;
}
 @media (min-width: 1010px) {
 #header-text-nav-wrap {
		position: relative
}
  }
 #header-text {
	font-family: Arial, "Helvetica Neue";
}
 @media (min-width: 1010px) {
 #header-text {
		margin: 0;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		left: 340px
}
  }
 #header-right-sidebar {
	display: none;
}
 /* Concept *****************************************************

.site-header {
	&__logo {
		margin: 30px 10px;

		@mixin atSmall {}

		@mixin atMedium {

		}
	}

	&__logo__graphic {
		text-indent: -9999px !important;

	}

}

#header-text-nav-container {
	background-color: #FFF;
}

.main-navigation ul li.current_page_item a {
	background-color: white !important;
	color: $mainBlue;
	font-weight: 700;
}

.main-navigation ul li:hover>a {
	background-color: white !important;
	color: $mainBlue;
	font-weight: 500;
}

.main-navigation a {

	@mixin atLarge{
 font-size: 1.2rem;
	}

}

#header-text-nav-wrap {
	display: none;
}
*/
 .sub-navigation {
	background: #cccccb;
	float: right;
	-webkit-transition: all .7s;
	transition: all .7s;
	width: 100%;
	right: 0;
	padding-bottom: 5px;

}
 .sub-navigation::after {
    content: "";
    clear: both;
    display: table;
  }
 @media (min-width: 530px) {
 .sub-navigation {
		padding: 5px

}
	}
 .sub-navigation__title {
		background-color: #cccccb !important;
		color: #474747 !important;
		padding: 0;
		font-size: 1.5rem !important;
		font-weight: 400 !important;
		margin-bottom: 10px;
		text-align: left;

	}
 @media (min-width: 530px) {
 .sub-navigation__title {
			margin-bottom: 0px;
			margin-top: 6.5px

	}
	}
 @media (min-width: 960px) {
 .sub-navigation--right {
			float: right
	}
	}
 .sub-navigation--left {
		display: none;
	}
 @media (min-width: 530px) {
 .sub-navigation--left {
			display: block
	}
	}
 @media (min-width: 960px) {
 .sub-navigation--left {
			float: left;
			padding-left: 15px
	}
	}
 .sub-navigation--opaque {
		opacity: .80;
		position: fixed;
		top: 0px;
		margin-top: 0;
		z-index: 2;
		-webkit-transition: all .7s;
		transition: all .7s;
		right: 0;

	}
 .sub-navigation--opaque::after {
    content: "";
    clear: both;
    display: table;
  }
 @media (min-width: 530px) {
 .sub-navigation--opaque {
			opacity: .85;
			width: 30%

	}
	}
 @media (min-width: 960px) {
 .sub-navigation--opaque {
			opacity: .85;
			width: 50%

	}
	}
 @media (min-width: 960px) {
 .sub-navigation--pull-right {
			float: right

	}
	}
 .sub-navigation ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}
 @media (min-width: 530px) {
 .sub-navigation ul {
			text-align: left;
	}
	}
 .sub-navigation ul::after {
    content: "";
    clear: both;
    display: table;
  }
 .sub-navigation li {
		list-style: none;
		padding-right: 7px;
		display: inline-block;
		margin-top:8px;
	}
 @media (min-width: 960px) {
 .sub-navigation li {
			padding-right: 20px;
			float: left;
			display: block
	}
	}
 .sub-navigation li:last-child {
		padding-right: 0;
	}
 @media (min-width: 960px) {
 .sub-navigation li:last-child {
			padding-right: 20px
	}
	}
 .sub-navigation a {
		color: #474747;
		background-color: #FFF;
		font-weight: 300;
		text-decoration: none;
		display: block;
		padding: 5px 8px;
		font-size: .77rem;

	}
 @media (min-width: 530px) {
 .sub-navigation a {
			color: #474747;
			min-width: 125px

	}
	}
 @media (min-width: 960px) {
 .sub-navigation a {
			font-size: 1rem;
			padding: 0 0 5px 0;
			background-color: transparent

	}

			.sub-navigation a.is-current-link {
				color: #15a8d2 !important;
				font-weight: 700;
			}
	}
 @media (min-width: 530px) {
 .sub-navigation a:hover {
			color: #15a8d2 !important;
			font-weight: 700

	}
	}
 .menu-placeholder-active {
	height: 50px;
	witdh: 100%;
}
 .scroll-trigger {
	height: 10px;
	width: 10px;
	position: relative;
	top: 10px;

}
 .site-footer {
	padding: 2rem 0 3.5rem 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#0364809e));
	background-image: linear-gradient(#FFF, #0364809e);
	color: #19505e;

}
 .site-footer p {
		font-size: .9rem;
	}
 .site-footer .headline {
		font-size: 1.9rem;
		margin-bottom: 1.33rem;
		text-align: center;
	}
 @media (min-width: 1010px) {
 .site-footer .headline {
			text-align: left
	}
  }
 .site-footer__link {
		color: #999;
		text-decoration: none;
	}
 .site-footer__link:hover {
		color: #15a8d2;
		text-decoration: underline;
	}
 .site-footer__inner {
		border-top: 1px dotted #DEDEDE;
		padding-top: 3.5rem;
	}
 .site-footer__content--justify {
		text-align: justify;
	}
 .site-footer__content--narrow {
		text-align: center;
	}
 @media (min-width: 1010px) {
 .site-footer__content--narrow {
			padding: 15px 100px
	}
  }
 .site-footer__col-two {
		text-align: center;
		border-top: 1px dotted #DEDEDE;
		padding-top: 3.5rem;
	}
 @media (min-width: 1010px) {
 .site-footer__col-two {
			border-top: 0;
			padding-top: 0
	}
  }
 .headline {
	font-family: Arial, "Helvetica Neue";
	font-size: 2.3rem;
	font-weight: 100;
	margin: 0 0 1rem 0;
}
 @media (min-width: 530px) {
 .headline {
		font-size: 2rem
}
	}
 .headline--main-blue {
		color: #15a8d2;
	}
 .headline--slider {
		color: #15a8d2 !important;
		font-size: 1.5rem !important;
		text-shadow: 1px 2px 0px #440c0e;
		background-color: white;
	}
 .headline--footer {
		color: #474747 !important;
		font-size: 1.6rem !important;

	}
 .headline--padding-t {
		padding-top: 25px;
	}
 .headline--padding {
		padding-top: 25px;
		padding-bottom: 15px;
	}
 .headline--centered {
		text-align: center;
	}
 .headline--small {
		font-size: 1.2rem;
	}
 @media (min-width: 530px) {
 .headline--small {
			font-size: 1.875rem
	}
	}
 .headline--small-general-content {
		font-size: 1.2rem;
	}
 @media (min-width: 530px) {
 .headline--small-general-content {
			font-size: 1.575rem
	}
	}
 .headline--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
 .headline--light {
		font-weight: 100;
	}
 .headline strong {
		font-weight: 400;
	}
 .headline--b-margin-small {
		margin-bottom: .5em;
	}
 .headline--b-margin-large {
		margin-bottom: 1.6em;
	}
 .headline--no-t-margin {
		margin-top: 0;
	}
 .headline--margin-t {
		margin-top: 35px;
	}
 @media (min-width: 530px) {
 .headline--margin-t {
			margin-top: 0
	}
	}
 .headline--post-header {
		width: 100%;
		border-bottom: 1px solid #F8F8F8;
		margin-top: -30px;
		margin-bottom: 20px;
		font-size: 2em;
	}
 .headline--post-header >h2 {
			margin: 0 auto
		}
 /* Do not edit modules/_sprite directly as it is generated automatically by Gulp.
Instead edit gulp/templates/sprite */
 .icon {
      background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.svg');
    }
 .no-svg .icon {
     background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.png');
  }
 .icon--arrow {
    width: 37px;
    height: 42.41px;
    background-position: 69.14893617021276% 64.48576354909362%;
  }
 .no-svg .icon {
     background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.png');
  }
 .icon--arrow-long {
    width: 61px;
    height: 43px;
    background-position: 51.93798449612403% 64.66355140186916%;
  }
 .no-svg .icon {
     background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.png');
  }
 .icon--facebook {
    width: 67px;
    height: 67px;
    background-position: 0 72.83157894736843%;
  }
 .no-svg .icon {
     background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.png');
  }
 .icon--instagram {
    width: 51.51px;
    height: 51.51px;
    background-position: 0 99.94646941457005%;
  }
 .no-svg .icon {
     background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.png');
  }
 .icon--linkedin {
    width: 67px;
    height: 67px;
    background-position: 26.58730158730159% 72.83157894736843%;
  }
 .no-svg .icon {
     background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.png');
  }
 .icon--logo {
    width: 319px;
    height: 138.38px;
    background-position: 0 0;
  }
 .no-svg .icon {
     background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.png');
  }
 .icon--twitter {
    width: 51.51px;
    height: 51.51px;
    background-position: 19.256794646528842% 99.94646941457005%;
  }
 .no-svg .icon {
     background-image: url('../../themes/accelerate-child/images/sprites/icons/icon-sprite-91239588.png');
  }
 .icon--youtube {
    width: 51.51px;
    height: 51.51px;
    background-position: 38.513589293057684% 99.94646941457005%;
  }
 .row::after {
    content: "";
    clear: both;
    display: table;
  }
 .row--t-margin {
		margin-top: 0;
	}
 .row--t-padding {
		padding-top: 80px;
	}
 .row--b-padding {
		padding-bottom: 80px;
	}
 .row--b-margin-large-list-view {

		margin-bottom: 35px;
	}
 .row--post-center {
		margin: 0 auto;
	}
 @media (min-width: 960px) {
		.row--gutters {
			margin-right: -65px;
		}

		.row--gutters>div {
			padding-right: 65px;
		}

		.row--gutters-large {
			margin-right: -100px;
		}

		.row--gutters-large>div {
			padding-right: 100px;
		}

		.row--gutters-small {
			margin-right: -45px;
		}

		.row--gutters-small>div {
			padding-right: 45px;
		}

		.row--gutters-extra-small {
			margin-right: -10px;
		}

		.row--gutters-extra-small>div {
			padding-right: 10px;
		}
	}
 .row__b-margin-until-medium {
		margin-bottom: 1rem;
	}
 @media (min-width: 960px) {

		.row__b-margin-until-medium {
			margin-bottom: 0;
		}

		.row__small-4 {
			float: left;
			width: 25%;
		}

		.row__medium-4 {
			float: left;
			width: 33.33%;
		}

		.row__medium-4--larger {
			width: 37%;
		}

		.row__medium-6 {
			float: left;
			width: 50%;
		}

		.row__medium-8 {
			float: left;
			width: 66.66%;
		}

		.row__medium-8--smaller {
			width: 63%;
		}
	}
 @media (min-width: 1010px) {

		.row__b-margin-until-large {
			margin-bottom: 0;
		}

		.row__large-4 {
			float: left;
			width: 33.33%;
		}

		.row__large-4--larger {
			width: 37%;
		}

		.row__large-6 {
			float: left;
			width: 50%;
		}

		.row__large-6--center {
			margin: 0 auto;
			width: 50%;
		}

		.row__large-8 {
			float: left;
			width: 66.66%;
		}

		.row__large-8--smaller {
			width: 63%;
		}

		.row__fill {
			width: 100%;
		}
  }
 /* Begin Equal Height Rules */
 @media (min-width: 960px) {
 .flexbox .row--equal-height-at-medium {
			display: -webkit-box;
			display: flex;
			flex-wrap: wrap

	}
	}
 .flexbox .row--equal-height-at-medium>div {
			float: none;
			display: -webkit-box;
			display: flex;
		}
 @media (min-width: 1010px) {
 .flexbox .row--equal-height-at-large {
			display: -webkit-box;
			display: flex;
			flex-wrap: wrap

	}
  }
 .flexbox .row--equal-height-at-large>div {
			float: none;
			display: -webkit-box;
			display: flex;
		}
 .btn {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #15a8d2;
	border: 0px;
	-webkit-transition: background-color 0.3s linear 0s;
	transition: background-color 0.3s linear 0s;
	border-radius: 4px;
	font-size: 14px;
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #FFFFFF;
}
 .btn--cta-git {
		margin-top: 25px;
		color: #FFF !important;
		border-style: solid;
		boder-color: #FFF;
		border-width: 2px;
		padding: 10px 20px;
		cursor: pointer;
	}
 .btn span.icon {
	background: url(imgs/icon.png) no-repeat;
	float: left;
	width: 10px;
	height: 40px;
}
 .cta__git {
		color: #FFF !important;
		background-color: #474747;
		width: 100%;
		padding: 25px;
		font-size: 1.5rem;
		text-align: center;
		margin-top: -35px;
		margin: -20px auto;
	}
 .cta__git-header {
		padding: 15px;
	}
 .cta__git-text {
		font-size: 1.5rem;
		font-size: 5vw;
		padding: 15px;
	}
 @media (min-width: 1010px) {
 .cta__git-text {
			font-size: 2rem
	}
  }
 .cta__btn-wrapper {
		padding: 35px;
	}
 .wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 16px;

}
 @media (min-width: 960px) {
		.wrapper--gradiant-shadow {
			box-shadow: inset -7px -10px 84px -13px #cccccb, 10px 10px 12px -1px #474747;
		}
	}
 .wrapper--shadow {
		box-shadow: 5px 6px 6px -1px #474747;
		width: 100%;
	}
 .wrapper--narrow {
		max-width: 960px;
	}
 .wrapper--padding-large {
		padding: 25px;
	}
 .wrapper--medium {
		max-width: 976px;
	}
 .wrapper--narrow {
		max-width: 470px;
	}
 .wrapper--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;
	}
 @media (min-width: 960px) {
 .wrapper--no-padding-until-medium {
			padding-left: 18px;
			padding-right: 18px
	}
	}
 .wrapper--no-padding-until-large {
		padding-left: 0;
		padding-right: 0;
	}
 @media (min-width: 1010px) {
 .wrapper--no-padding-until-large {
			padding-left: 18px;
			padding-right: 18px
	}
  }
 .wrapper .wrapper {
		padding-left: 0;
		padding-right: 0;
	}
 .wrapper--b-margin {
		margin-bottom: 1rem;
	}
 @media (min-width: 530px) {
 .wrapper--b-margin {
			margin-bottom: 3.875rem
	}
	}
 .wrapper--background-extra-light-grey {
		background-color: #cccccb;
	}
 .project__header-slider {
		margin: 30px;
	}
 .project__table {
		width: 100%;
		margin-top: 90px;

	}
 .project__table__title {
			font-size: 1.5rem;
			line-height: 1.5
		}
 .project__table__header {
			font-weight: 700;
			padding-bottom: .5rem;
		}
 @media (min-width: 1010px) {
 .project__table__header {
				width: 40%
		}
  }
 .project__gallery {
		margin: 30px;
	}
 .project__posts__image {
		width: 100%;
	}
 .project__posts__title {
		color: #474747;
		line-height: 1.2;
		padding: 1rem;
	}
 .project__posts__excerpt {
		text-align: left;
		padding: 15px;
	}
 @media (min-width: 530px) {
 .project__posts__excerpt {
			padding-bottom: 1rem
	}
	}
 .project__posts__header-link-featured {
		color: #cccccb;
	}
 .project__read-more {}
 .project__anchor {
		position: relative;
		top: -15px;
		visibility: hidden;
	}
 #feature-link {
	color: #cccccb;
	pointer-events: none;
}
 .product__content{
		padding: 10px;
    	margin: 0 35px 35px 35px;
	}
 .page-banner {
	position: relative;
	background-color: #000;
	padding: 80px 0 40px 0;
	position: relative;
	margin-bottom: 35px;
}
 @media (min-width: 530px) {
 .page-banner {
		padding: 120px 0 130px 0
}
	}
 @media (min-width: 1010px) {
 .page-banner {
		min-height: 576px
}
  }
 .page-banner__text__container {
		background-color: rgba(255,255,255, .9);
		color: grey;
		max-width: 800px;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		z-index: 2;
		display: none;

	}
 @media (min-width: 530px) {
 .page-banner__text__container {
			display: block

	}
	}
 .page-banner__sub-title {
		margin: 0 auto;
		margin-bottom: 25px;
		text-align: center;
		padding-left: 45px;
		padding-right: 45px;
	}
 .page-banner__title {
		/*font-family: 'Georgia', serif;*/
		font-size: 1.1rem;
		font-weight: 100;
		line-height: 1.3;
		margin: 0 0 1rem 0;
	}
 @media (min-width: 530px) {
 .page-banner__title {
			font-size: 2.5rem
	}
	}
 .page-banner__content {
		position: relative;
		z-index: 2;
	}
 .page-banner__bg-image {
		opacity: .65;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
 .page-banner__intro {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.3;
		color: grey;
	}
 @media (min-width: 530px) {
 .page-banner__intro {
			font-size: 1.65rem
	}
	}
 .page-banner__intro p {
		margin: 0;
	}
 .blog-cos {
	position: relative;
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	margin-bottom: 20px;
	border: 2px solid grey;
	text-align: center;
	color: #474747;

}
 @media (min-width: 960px) {
 .blog-cos {
		margin-bottom: 50px

}
	}
 .blog-cos__main {
		margin-top: 45px;
	}
 .blog-cos__featured-product-header {
		background-color: #15a8d2;
		color: white;
		font-weight: 500;
		padding: 2.5px;
	}
 .blog-cos> figure> a> img {
			width: 100% !important;
		}
 .blog-cos__image {
		min-height: 187px;
		width: 100%;


	}
 .blog-cos__title {
		color: #474747;
		line-height: 1.2;
		padding: 1rem;
	}
 .blog-cos__title--single {
			text-align: center;
			margin-top: 20px;
		}
 .blog-cos__title>hr {
			margin: 10px auto;
		}
 .blog-cos__excerpt {
		text-align: left;
		padding: 15px;
		padding-bottom: 2.5em;

	}
 @media (min-width: 530px) {
 .blog-cos__excerpt {
			padding-bottom: 3.3em

	}
	}
 .blog-cos__excerpt--project {
			padding-bottom: 0;
		}
 .blog-cos__wrapper-lower {
		padding: 15px;
		position: absolute;
		bottom: 0px;
		width: 100%;
		left: 50%;
		-webkit-transform: translateX(-50%) scale(1.02);
		        transform: translateX(-50%) scale(1.02);
	}
 .blog-cos__meta {
		margin: 10px;
		padding: 10px;
	}
 @media (min-width: 1010px) {
 .blog-cos {
		padding: 0

}
  }
 .blog-cos--last {
		margin-bottom: 0;
	}
 .post-format,
.byline,
.cat-links {
	display: none;
}
 .form__footer-email{
		    max-width: 350px !important;
	}
 .social-icons--m-b-large {
		margin-bottom: 75px;
	}
 .social-icons__icon {
		color: #474747;
		display: inline-block;
		margin: 10px 10px 0 0;
		width: 40%;
		height: 65px;
		position: relative;
	}
 @media (min-width: 530px) {
 .social-icons__icon {
			width: 50px;
			margin: 14px
	}
	}
 .social-icons__icon--dark {
			background-color: #15a8d2;
		}
 .social-icons__icon .icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
		}
 .page-section {
	padding: 1.2rem 0;
	padding: 0;

}
 .page-section--padding-t {
		padding-top: 70px;
	}
 .page-section--no-b-padding-until-medium {
		padding-bottom: 0;
	}
 @media (min-width: 960px) {
 .page-section--no-b-padding-until-medium {
			padding-bottom: 4.5rem
	}
	}
 .page-section--no-b-padding-until-large {
		padding-bottom: 0;
	}
 @media (min-width: 1010px) {
 .page-section--no-b-padding-until-large {
			padding: 25px;
			padding-bottom: 4.5rem
	}
  }
 @media (min-width: 960px) {
 .page-section--blue {
			background-color: #15a8d2;
			color: #FFF
	}
	}
 @media (min-width: 960px) {
 .page-section--grey {
			background-color: #474747
	}
	}
 .page-section--lightgrey {
		background-color: #cccccb;
		color: #FFF;
	}
 .page-section--white {
		background-color: #FFF;
	}
 @media (min-width: 1010px) {
 .page-section--services {
			/* &.lazyloaded{
        background: url('../../assets/images/services-bg.jpg') top center no-repeat;
        background-size: cover;
      }*/
	}
  }
 .page-section--speakers-remove-b-margin {
		margin-bottom: -98px;
	}
 .page-section--about-us {
		background-color: #cccccb;
		color: #15a8d2;
		font-weight: 700;
		font-size: 1.2rem;
	}
 @media (min-width: 1010px) {
 .page-section--about-us {
			font-size: 1.8rem
	}
  }
 .page-section__no-post {
		margin: 0 auto;
		margin-top: -60px;
		padding-bottom: 82px;
	}
 .section-title {
  width: 100%;
  padding: 25px;
  font-size: 2.5rem;
  line-height: 1;
  text-align: center;

}
 @media (min-width: 530px) {
 .section-title {
     text-align: left

}
	}
 .section-title strong {
    font-weight: 700
  }
 .section-title--blue {
    color: #15a8d2;
  }
 .section-title--white {
      color: #15a8d2;
  }
 @media (min-width: 1010px) {
 .section-title--white {
        color: #fff
  }
  }
 .section-title--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;
  }
 .section-title__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;
  }
 @media (min-width: 530px) {
 .section-title__icon {
      position: relative;
      top: 8px;
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block
  }
	}
 #search-form {
		display: none !important;
}
 .content__w-bulleted-list ul {
			list-style: disc;
		}
 .content__w-bulleted-list ul ul {
			margin-left: 45px;
			list-style: circle;
		}
 .content__w-bulleted-list ul ul ul {
			margin-left: 45px;
			list-style: disc;
		}
 .content__w-bulleted-list ul ul ul ul {
			margin-left: 45px;
			list-style: circle;
		}
 .slider {
	position: relative;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	height: 300px;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 5px;

}
 @media (min-width: 960px) {
 .slider {
		width: 740px;
		height: 400px

}
	}
 .slider-wrapper {
		position: relative;
		height: 100%;
		width: 100%;
	}
 .slider-slide {
		display: inline-block;
		height: 100%;
		width: 100%;
	}
 .slider-main-heading {
		display: block;
		text-align: center;
		margin: 5px;
		margin-bottom: 25px;
		padding: 5px;
	}
 .slider-button {
		font-size: .95rem;
		position: absolute;
		top: 190px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		z-index: 999;
	}
 @media (min-width: 960px) {
 .slider-button {
			font-size: 1.05rem
	}
	}
 .slider-arrow {
		height: 30px;
		width: 30px;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		        justify-content: center;
		background: #f9f9f9;
		border-radius: 50%;
		cursor: pointer;
		-webkit-transition: -webkit-transform ease-in .1s;
		transition: -webkit-transform ease-in .1s;
		transition: transform ease-in .1s;
		transition: transform ease-in .1s, -webkit-transform ease-in .1s;
		opacity: .7;
	}
 .slider-nextArrow {
		position: absolute;
		top: 55%;
		right: 25px;
		z-index: 999;
		color: #474747;
	}
 .slider-backArrow {
		position: absolute;
		top: 55%;
		left: 25px;
		z-index: 999;
		color: #474747;
	}
 .slider-title {
		position: absolute;
		top: 130px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		z-index: 999;
		color: black;
		font-size: 1rem;


	}
 .slider-title-background {
		background-color: #474747;
		padding: 5px;
	}
 .slider-title-text {
		padding: 5px;
		font-size: .95rem;
		color: #FFF;
		font: 'Roboto', sans-serif;
		font-style: italic;
		line-height: 20px;
	}
 @media (min-width: 960px) {
 .slider-title-text {
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 1.5rem
	}
	}
 .slider-indicator {
		display: none;
	}
 @media (min-width: 960px) {
 .slider-indicator {
			font-size: 1.3rem;
			display: -webkit-inline-box;
			display: inline-flex;
			position: relative;
			bottom: 0px;
			left: 25px;
			z-index: 999;
			left: 50%;
			-webkit-transform: translateX(-50%);
			        transform: translateX(-50%)
	}

			.slider-indicator-item {
				cursor: pointer;
				text-align: center;
				margin: 8px;
			}

				@media (min-width: 960px) {

			.slider-indicator-item {
					margin: 10px
			}
	}

				.slider-indicator-item-current {
					color: #15a8d2;
				}

			.slider-indicator-thumbnail {
				display: none;
				width: 100%;
			}
	}
 .slider-thumbnail-image-show {
		min-width: 140px;
		display: block;
		opacity: 1;
	}
 .slider-thumbnail-image-hide {
		display: none;
		opacity: 0;
	}
 .slider-thumbnail-wrapper {
		display: none;

		/*position: relative;
		bottom: 100px;
		margin-bottom: -100px;*/
		display: block;
		position: absolute;
		bottom: 40px;

	}
 .slider-no-images-found{
		margin: 35px;
		text-align: center;
	}
 .floatButtonUp {
	-webkit-transform: translate(-50%, -100px) !important;
	        transform: translate(-50%, -100px) !important;
	-webkit-transition: -webkit-transform ease-out 0.5s;
	transition: -webkit-transform ease-out 0.5s;
	transition: transform ease-out 0.5s;
	transition: transform ease-out 0.5s, -webkit-transform ease-out 0.5s;
	visibility: visible;
}
 .floatElementUp {
	-webkit-transform: translate(-50%, -100px) !important;
	        transform: translate(-50%, -100px) !important;
	-webkit-transition: -webkit-transform ease-out 0.4s;
	transition: -webkit-transform ease-out 0.4s;
	transition: transform ease-out 0.4s;
	transition: transform ease-out 0.4s, -webkit-transform ease-out 0.4s;
	visibility: visible;
}
 .fadeElementOut {
	visibility: hidden;
}
 .fa-angle-right {
	margin-left: 3px;
}
 .fa-angle-left {
	margin-right: 3px;
}
 .fa-angle-right:before,
.fa-angle-left:before {

	color: #222
}
